body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #000000);
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000, #000000);
}

/* Estilos Nav Bar */

.nav-logo {
  width: 11rem;
  height: 60%;
}

.logo-mobile {
  display: none;
}

.nav-bar {
  height: 5.2rem;
  background-color: #000;
  font-family: "Spotify Mix";
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
}

.home-button button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.search-button {
  display: none;
}
.sign-buttons a button {
  width: 100%;
}
.search-button button {
  display: none;
}

.search-bar {
  width: 80%;
  background-color: #1b1b1b;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
}

.search-bar button {
  all: unset;
}

.search-bar input::placeholder {
  color: #ccc; /* Placeholder em cinza claro */
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-hamburguer {
  display: none;
}
.welcome-message {
  display: flex;
  align-items: center;
}
.welcome-message span {
  font-family: "Spotify Mix";
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
/* Side Bar*/
.sidebar {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  width: 29%;
  height: 80%;
  border-radius: 1rem;
  margin-top: 0rem;
  padding: 1.5rem 1.5rem;
}

.sidebar span {
  font-family: "Spotify Mix";
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  margin-right: 1rem;
}
.add-button {
  position: relative;
  display: flex;
  align-items: center;
}
.add-button button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}
.collection-icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 0.8rem;
}
.collection-icon i::before i {
  width: 2rem;
  height: 2rem;
}
.popup {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 12rem;
  background-color: #212121;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.popup.hidden {
  display: none;
}

.menu-option {
  padding: 0.5rem 1rem;
  color: white;
  font-family: "Spotify Mix";
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  cursor: pointer;
}

.menu-option:hover {
  background-color: #2b2b2b;
}

.sidebar-section {
  padding: 1rem;
  background-color: #181818;
  border-radius: 0.8rem;
}
.sidebar-section p {
  font-family: "Spotify Mix";
  font-weight: 100;
  font-style: normal;
}
.sidebar-section h5 {
  font-family: "Spotify Mix";
  font-weight: 700;
  font-style: normal;
}
.sidebar-section button {
  font-family: "Spotify Mix";
  font-weight: 500;
  font-style: normal;
}

/*Main Container*/

.main-container {
  padding: 2rem;
  height: 80%;
  margin-left: 1rem;
  width: 73%;
  background-color: #111111;
  border-radius: 1rem;
  box-sizing: border-box;
}

.section-title {
  margin-bottom: 1.5rem;
}

.s-header {
  margin-top: 1.5rem;
}

.section-title h4 {
  font-family: "Spotify Mix";
  font-weight: 800;
  font-style: normal;
}

.section-title p {
  font-family: "Spotify Mix";
  font-weight: 700;
  font-style: normal;
}

.artist-subtitle h5 {
  font-family: "Spotify Mix";
  font-weight: 400;
  font-style: normal;
}

.artist-subtitle p {
  font-family: "Spotify Mix";
  font-weight: 100;
  font-style: normal;
}

.artista-img,
.musica-img {
  cursor: pointer;
}

.artista-img {
  width: 9rem;
  border-radius: 100%;
  overflow: hidden;
}

.musica-img {
  width: 9rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.main-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 9rem;
  max-height: 9rem;
  min-width: 9rem;
  min-height: 9rem;
}

/*Footer*/

.footer {
  margin-top: 4rem;
}

.footer-line {
  height: 0.2rem;
  width: 100%;
  margin-top: 4rem;
  background-color: #1f1f1f;
}

.footer-header {
  border-top: 20px #f4f4f4;
}

.footer p {
  margin-top: 2.5rem;
  font-family: "Spotify Mix";
  font-weight: 300;
  font-style: normal;
}

.socials button {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.links {
  margin-right: 2rem;
}

.links .first {
  margin-right: 1rem;
}

.links span {
  cursor: pointer;
  font-family: "Spotify Mix";
  font-weight: 500;
  font-style: normal;
}

/*Pop up Músicas*/
.context-popup {
  position: absolute;
  background-color: #212121;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 150px;
  overflow: hidden;
}

.context-option {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  font-family: "Spotify Mix", sans-serif;
  font-size: 14px;
}

.context-option:hover {
  background-color: #333;
}

/*Scroll Horizontal*/
.wrapper {
  overflow-x: auto;
  margin-bottom: 1rem;
}
.wrapper::-webkit-scrollbar {
  width: 1;
  height: 0.5rem;
}
.wrapper::-webkit-scrollbar {
  background: none;
}
.wrapper::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 0.5rem;
}
.wrapper .item {
  min-width: 9rem;
}

/*Scroll Vertical*/
.wrapper-y {
  overflow-y: auto;
}
.wrapper-y::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.55rem;
}
.wrapper-y::-webkit-scrollbar {
  background: none;
}
.wrapper-y::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 0.3rem;
}
.wrapper-y .item-y {
  min-width: 9rem;
}

/*Reprodutor*/

.music-container {
  width: 100%;
  height: 5rem;
  background: linear-gradient(to right, #000000, #000000);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.music-player-img {
  width: 3.5rem;
  height: 3.5rem;
}
.music-player-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
.music-name-container {
  display: flex;
  gap: 1rem;
}
.music-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.music-info span {
  font-family: "Spotify Mix";
  font-weight: 500;
  font-style: normal;
  width: 100%;
}
.music-info p {
  font-family: "Spotify Mix";
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  width: 100%;
  margin-bottom: 0;
}
.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.middle-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 0.6rem;
}
.middle-buttons button {
  all: unset;
  color: #ffffff;
  display: flex;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.right-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.bi-pause-fill::before {
  content: "\f28c";
}

/* Dropdown de Velocidade */
.speed-container {
  position: relative;
  display: inline-block;
}

.speed-dropdown-menu {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: #212121;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 90px;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

.speed-dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  font-family: "Spotify Mix", sans-serif; /* Fonte do site */
  font-size: 0.85rem;
  font-weight: 300; /* Peso da fonte igual ao restante */
  transition: background-color 0.2s;
}
.musica-img img {
  transition: transform 0.3s ease;
}
.artista-img img {
  transition: transform 0.3s ease;
}

.musica-img:hover img {
  transform: scale(1.05);
}
.artista-img:hover img {
  transform: scale(1.05);
}
.music-container ifrmae {
  display: flex;
  position: absolute;
}
/* Hover estilo do site */
.dropdown-item:hover {
  background-color: #2b2b2b !important; /* Preto mais claro */
}

/* Estilo para opção selecionada */
.dropdown-item.selected {
  background-color: white !important;
  color: #1f1f1f !important;
  font-weight: 500;
}

.progress-container span {
  font-family: "Spotify Mix";
  font-weight: 300;
  font-style: normal;
  font-size: 0.75rem;
}
.player-container {
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(
    to right,
    white 0%,
    white var(--progress, 0%),
    #444 var(--progress, 0%),
    #444 100%
  );
  border-radius: 0.2rem;
  outline: none;
  transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.6rem;
  height: 0.6rem;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.btn-active {
  color: #ffffff !important;
}

.time {
  font-size: 14px;
  padding: 0 8px;
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 0.2rem;
  background: linear-gradient(
    to right,
    white 0%,
    white var(--progress, 0%),
    #444 var(--progress, 0%),
    #444 100%
  );
  border-radius: 0.2rem;
  outline: none;
  transition: 0.2s;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.volume-icon {
  all: unset;
  cursor: pointer;
}
.volume-icon:hover {
  transform: scale(1.1);
}
.music-container audio {
  display: none; /* Esconde o elemento áudio nativo */
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    display: none;
    z-index: 999;
}

@keyframes spin {
    to { transform: translate(-50%, -50%) rotate(360deg); }
}

.musica-img {
    position: relative; /* Adicionar para conter o spinner */
}

/*Media Queries*/
@media (max-width: 864px) {
  .nav-logo {
    display: none;
  }
  .logo-mobile {
    display: block;
    width: 2.6rem;
    height: 53%;
  }
  .menu-hamburguer {
    display: block;
  }
  .menu-hamburguer input {
    display: none;
  }
  .hamb-icon {
    background-color: #000;
    position: fixed;
    top: 1.2rem;
    right: 1.1rem;
    cursor: pointer;
    padding: 20px 10px;
    z-index: 11;
  }
  .hamb-icon .bar {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    position: relative;
    transition: all 0.3s ease-out;
  }
  .hamb-icon .bar::before {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: -8px;
    left: 0;
    transition: all 0.3s;
  }
  .hamb-icon .bar::after {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s;
  }
  .menu-hamburguer input:checked ~ .hamb-icon .bar {
    background-color: transparent;
  }
  .menu-hamburguer input:checked ~ .hamb-icon .bar::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-hamburguer input:checked ~ .hamb-icon .bar::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .menu-hamburguer .menuL {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 10;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-hamburguer .menuL ul {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
  }
  .menu-hamburguer .menuL ul li {
    list-style: none;
  }
  .menu-hamburguer .menuL ul li a {
    color: #ffffff;
    display: block;
    font-size: 2rem;
    font-family: "Spotify Mix";
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0.2rem;
    position: relative;
  }
  .menu-hamburguer .menuL ul li a::after {
    content: "";
    width: 0px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  .menu-hamburguer .menuL ul li a:hover::after {
    width: 30px;
  }
  .menu-hamburguer input:checked ~ .menuL {
    transform: scale(1);
    opacity: 1;
  }
  .menu-hamburguer input:checked ~ .menuL ul {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
  }
  .section-title p {
    font-size: 80%;
  }
  .section-title h4 {
    font-size: 100%;
  }
  .welcome-message span {
    display: none;
  }
  .welcome-message {
    margin-right: 0.8rem;
  }
  .sidebar {
    display: none;
  }
  .sidebar-header {
    display: none;
  }
  .sidebar-section {
    display: none;
  }
  .home-button {
    display: none;
  }
  .search-button {
    margin-right: 3rem;
  }
  .search-button button {
    display: block;
    all: unset;
  }
  .search-bar {
    display: none;
  }
  .search-bar input {
    display: none;
  }
  .search-bar button {
    display: none;
  }
  .search-bar i {
    display: none;
  }
  .main-container {
    width: 100%;
    margin-left: 0;
  }
  .links {
    display: none;
    margin-right: 0px;
  }
  .links span {
    display: none;
  }
  .wrapper {
    margin-bottom: 0;
  }
  .wrapper::-webkit-scrollbar {
    width: 0;
  }
  .wrapper::-webkit-scrollbar-thumb {
    display: none;
  }
  .wrapper-y::-webkit-scrollbar {
    width: 0.4rem;
  }
  .sign-buttons {
    display: none;
  }
  .sign-buttons button {
    display: none;
  }
  .music-container {
    padding: 0.6rem;
  }
  .middle-buttons {
    gap: 0.8rem;
    margin-top: 0.4rem;
  }
  .middle-buttons button {
    font-size: 1rem;
  }
  .right-container button {
    font-size: 1rem;
  }
  .music-name-container p {
    font-size: 0.65rem;
  }
  .music-name-container span {
    font-size: 0.75rem;
  }
  .progress-container span {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
}
