body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #111111, #111111);
    padding: 2rem 0 2rem 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.form-header .form-logo img{
    width: 100%;
    height: 100%;
}
.form-header .form-logo{
    height: 4rem;
    width: 4rem;
}
.form-header span {
    font-family: 'Spotify Mix';
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
    margin-top: 0.8rem;
}
.progress-bar-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress-line{
    width: 25rem;
    overflow: hidden;
    height: 0.15rem;
    background-color: #232323;
    border-radius: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.real-progress {
    width: 33%;
    background-color: #ffffff;
    height: 0.15rem;
    transition: width 0.5s ease-in-out;
}
.steps span{
    color: #c1c1c1;
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}
.steps p {
    font-family: 'Spotify Mix';
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
}
.return-button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.return-button button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.return-button button i {
    width: 100%;
    height: 100%;
}
.form-out {
    width: 100%;
    overflow: hidden;
}
form {
    width: 400%;
    height: 100%;
    display: flex;
}
form .page {
    width: 25%;
    height: 100%;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-left 0.5s ease-in-out;
}
.input-text {
    margin-top: 1rem;
}
.input-text span {
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}
.input-text .input-header {
    margin-bottom: 1rem;
}
.input-text input {
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    width: 20rem;
    box-sizing: border-box;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
}
.input-text input:focus {
    box-shadow: inset 0 0 0 1px #ffffff;
}
.next-button {
    margin-top: 1.5rem;
}
.next-btn {
    all: unset;
    text-align: center;
    width: 20rem;
    height: 2.8rem;
    border-radius: 10rem;
    background-color: #e2e2e2;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.next-btn:hover {
    background-color: #ffffff;
    transform: scale(1.03);
}
.form-line {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

.line-line {
    flex: 1;
    height: 1px;
    background-color: #ffffff;
}

.line-text {
    margin: 0 1rem;
    color: #ffffff;
    font-family: 'Spotify Mix';
    font-weight: bold;
    font-size: 0.9rem;
}
.form-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}
.form-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    position: relative;
}
.form-buttons span{
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}
.form-buttons button i {
    position: absolute;
    left: 1rem;
}
.form-buttons button span {
    margin: 0 auto;
}
.bottom-link {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 0.8rem;
}
.bottom-link p{
    color: #ffffff;
    font-family: 'Spotify Mix';
    font-weight: 200;
    font-size: 1rem;
    font-style: normal;
    margin-bottom: 0;
}
.bottom-link span {
    cursor: pointer;
    font-size: 1rem;
    color: #e2e2e2;
    text-decoration: underline;
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.bottom-link a {
    color: #e2e2e2;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.bottom-link a:hover {
    color: #ffffff;
}
.senha {
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    width: 20rem;
    box-sizing: border-box;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
}
.senha:focus {
    box-shadow: inset 0 0 0 1px #ffffff;
}
.senha-validate {
    width: 20rem;
}
.input-header-senha {
    margin-bottom: 0.5rem;
}
.input-senha {
    position: relative;
    width: 20rem;
    box-sizing: border-box;
}
.input-senha span {
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;
}
.input-senha .senha {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    width: 100%;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.input-senha .senha:focus {
    box-shadow: inset 0 0 0 1.5px #ffffff;
}

.input-senha i {
    position: absolute;
    top: 70%;
    right: 0.75rem; /* Ajuste para alinhar à direita */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
}

.validate-header span {
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    font-size: 0.95rem;
}
.senha-validate p {
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    font-size: 0.95rem;
    margin-left: 0.5rem;   
}
.validate-header {
    margin: 1rem 0 1rem 0;
}
.length-check p {
    margin-bottom: 0;
}
.header-name span {
        font-family: 'Spotify Mix';
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
}
.header-name p {
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #808080;
    margin-bottom: 0;
}
.input-header-name {
    margin-bottom: 0.5rem;
}
.name-container {
    margin-top: 1rem;
}
.header-date {
    font-family: 'Spotify Mix';
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem
}
.input-birthday {
    display: flex;
    gap: 0.5rem;
}
.input-day span {
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}
.input-day .input-header {
    margin-bottom: 1rem;
}
.input-day input {
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    width: 3.5rem;
    box-sizing: border-box;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
}
.input-day input:focus {
    box-shadow: inset 0 0 0 1px #ffffff;
}
.dropdown-month select{
    background-color: transparent;
    cursor: pointer;
    color: white;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    width: 9rem;
    box-sizing: border-box;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
}
.dropdown-month select option {
    text-align: left;
    color: #ffffff;
    background-color: #111111;
    border: 1px;
}
.input-year span {
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}
.input-year .input-header {
    margin-bottom: 1rem;
}
.input-year input {
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    width: 4.5rem;
    box-sizing: border-box;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
}
.input-year input:focus {
    box-shadow: inset 0 0 0 1px #ffffff;
}
.header-gender {
    font-family: 'Spotify Mix';
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.input-gender {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}
.checkbox-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox-wrapper input {
    display: none; /* Esconde o input padrão */
}
.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.2rem;
    position: relative;
    transition: all 0.3s ease;
}
.checkbox-wrapper input:checked + .custom-checkbox {
    background-color: #ffffff; /* Cor verde para o estado ativo */
    border-color: #ffffff;
}
.checkbox-wrapper input:checked + .custom-checkbox::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.checkbox-wrapper .checkbox-text {
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}
.gender-container, .date-container, .container-name {
    width: 20rem;
}
.confirm-button {
    margin-top: 1.5rem;
}
.signup-btn {
    all: unset;
    text-align: center;
    width: 20rem;
    height: 2.8rem;
    border-radius: 10rem;
    background-color: #e2e2e2;
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.signup-btn:hover {
    background-color: #ffffff;
    transform: scale(1.03);
}
.terms-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 23rem;
    height: 8rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.terms-container .term span {
    font-family: 'Spotify Mix';
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 0.8rem;
}
.terms-container .term a {
    font-family: 'Spotify Mix';
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 1rem;
}
.terms-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.terms-wrapper input[type="checkbox"].term-checkbox {
    display: none;
}
.term-custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}
.terms-wrapper input[type="checkbox"].term-checkbox:checked + .term-custom-checkbox {
    background-color: #ffffff; /* Cor verde para o estado ativo */
    border-color: #ffffff;
}
.terms-wrapper input[type="checkbox"].term-checkbox:checked + .term-custom-checkbox::after {
    content: '';
    width: 7px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.terms-wrapper a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.terms-wrapper a:hover {
    text-decoration: underline;
}
.input-error {
    border-color: #ff0000 !important;
    box-shadow: inset 0 0 0 1px #ff0000 !important;
}

.input-valid {
    border-color: #ffffff !important;
    box-shadow: inset 0 0 0 1px #ffffff !important;
}

@media (max-width: 750px) {
    
}